body {
    background-color: #f2f2f2;
    color: #505255;
}

main {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 100vh;
    width: 20%;
}

nav img {
    width: 200px;
}

nav div {
    padding: 10px 20px 20px 20px;
}

nav i {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #505255;
    margin: 10px 0;
}

.menu {
    display: flex;
    flex-direction: column;
}

.settings {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 0 0 5px;
}

#search {
    max-width: 300px;
    height: 50px;
    margin: auto 0;
}

#search span {
    color: #505255;
    background-color: white;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding-right: 6px;
}

#search input {
    border-left: none;
    border-radius: 0 5px 5px 0;
}

#search input:focus {
    border-color: #dee2e6; /* Cambia el color según prefieras */
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 30px;
}

#profile-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.form-text  {
    margin: auto 20px auto 0;
}

.form-input {
    border-radius: 5px !important;
}

.overall-inventory {
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    padding: 15px 20px;
}

.overall-inventory p {
    margin: 0;
}

.row-inventory {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.col-inventory {
    flex: 2;
    position: relative;
    padding: 0 50px;
}

.col-inventory:first-child {
    flex: 1;
    padding-left: 0;
}

.col-inventory:last-child {
    padding-right: 0;
}

.col-inventory:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #ddd;
    transform: translateX(50%);
}

#categories-title {
    color: dodgerblue;
}

#total-products-title {
    color: orange;
}

#top-selling-title {
    color: slateblue;
}

#low-stocks-title {
    color: tomato;
}

.summary {
    font-weight: bold;
    margin: 10px 0 !important;
}

.overall-inventory-info {
    color: #969799;
}

.divisor {
    border-right: 1px solid #969799;
    width: 1px;
    margin-right: 0;
}

@media (max-width: 1024px) {
    nav {
        width: 30%;
    }    
}